body{background-color:#EFC4C4;}
.content{   
    width: 520px;
    height: 450px; 
    margin-top: 12%;    
    margin-left: 35%;
    margin-right: 35%;    
    border-radius: 20px;  
    border: solid black;
    background-color: white; 
}

.content-logo{
    width: 236px;
    height: 150px;
    margin-left: 28%;
    margin-top: 10px;
}
.btn-secondary{background-color: white}
a{text-decoration: none;}

.btn-primary{background-color: white;}

.content-login{margin-left: 18%;}

input{width: 320px;
    height: 35px;
border-radius: 5px;}

.content-usuario{
    margin-top: 10px;
}
.content-password{
    margin-top: 18px;
}
.btn-Recordar{
    width: 200px;
    margin-top: 5px;
    margin-left: 37%;}

.btn-Ingresar{margin-top: 20px;}

button{width: 320px;}

h1{font-size: large;
font-style: Courier;
margin: 0px;}

button{font-style: bold;}